@page "/"
@using CRM.Components.Pages.Auftrag

<MudIconButton Icon="@Icons.Material.Filled.Add" Color="Color.Inherit" Edge="Edge.End" OnClick="OpenCreateAuftrag" Size="Size.Large" />

<div style="overflow-x: auto; white-space: nowrap;">
    <MudDropContainer T="Backend.Models.Auftrag"
                      Items="auftragListe"
                      ItemsSelector="@((item, dropzone) => item.Position == dropzone)"
                      ItemDropped="OnItemDropped"
                      Class="d-inline-flex flex-nowrap px-2"
                      Style="min-height: 400px;">
        <ChildContent>
            @foreach(var stage in statusListe)
            {
                <MudPaper Class="ma-2 pa-2 d-inline-block" Style="min-width: 280px; max-width: 320px;">
                    <MudList T="string" Class="d-flex flex-column mud-height-full">
                        <MudListSubheader>@stage.Name</MudListSubheader>
                        <MudDropZone T="Backend.Models.Auftrag" Identifier="@stage.Position.ToString()" Class="flex-grow-1" />
                    </MudList>
                </MudPaper>
            }
        </ChildContent>
        <ItemRenderer>
            <MudListItem T="string">
                <div>
                    <strong>@context.Kunde.Firmenname</strong><br />
                    <em>Services:</em> @string.Join(", ", context.Services.Select(n => n.ServiceName))<br />
                    <em>Wert:</em> @context.AuftragsValue.ToString("C")
                </div>
            </MudListItem>
        </ItemRenderer>
    </MudDropContainer>
</div>

@code {



    private List<Status> statusListe = new();
    private List<Backend.Models.Auftrag> auftragListe = new();

    protected override async Task OnInitializedAsync()
    {
        using var context = await DbFactory.CreateDbContextAsync();
        statusListe = await context.Status.ToListAsync();
        statusListe = statusListe.OrderBy(s => s.Position).ToList();
        auftragListe = await context.Auftraege.Include(a => a.Services).Include(a => a.Kunde).ToListAsync();

    }

    private void OnItemDropped(MudItemDropInfo<Backend.Models.Auftrag> dropInfo)
    {
        dropInfo.Item.Position = dropInfo.DropzoneIdentifier;
    }

    private async Task OpenCreateAuftrag()
    {
        var options = new DialogOptions()
        {
            CloseButton = true,
            MaxWidth = MaxWidth.Small,
            FullWidth = true,
        };

        var dialog = DialogService.Show<CreateAuftrag>("", options);
        var result = await dialog.Result;

        Navigation.NavigateTo(Navigation.Uri, true);
    }
}
